<h2>Gestión de Usuarios</h2>
<ul>
  <li><button id="add-user-btn">Agregar Usuario</button></li>
    <form id="formularioCreateUser">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nameUser" name="nameUser"><br><br>

      <label for="password">password:</label>
      <input type="password" id="passwordUser" ><br><br>

      <input type="submit" value="Enviar">
    </form>
  <li><button id="edit-user-btn">Editar Usuario</button></li>
  <li><button id="delete-user-btn">Eliminar Usuario</button></li>
  <li><button id="search-user-btn">Buscar Usuario</button></li>
  <li><button>Lista de Usuarios</button></li>
</ul>

